<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplikasi Validasi</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark align-items-start">
      <div class="container">
        <a class="navbar-brand" href="/">Aplikasi Validasi</a>
      </div>
    </nav>

    <section class="camera">
      <div class="container mt-3">
        <div class="card mt-3 p-4 rounded-5 shadow">
          <div class="row">
            <div class="col-lg-4">
              <div class="text-center">
                <h2>Validasikan Perangkat</h2>
                <img
                  src="/img/img_perangkat_aktif.svg"
                  class="card-img img-sm-fluid"
                  alt="Perangkat"
                  id="deviceImage"
                  style="max-width: 500px; max-height: 500px; object-fit: cover"
                />
              </div>
            </div>
            <div class="col-lg-8">
              <p class="d-flex mt-3">Waktu: <span id="dateTime"></span></p>
              <p class="d-flex" id="location">Lokasi Pengambilan Foto:</p>
              <div class="text-center">
                <form
                  method="POST"
                  action="/upload/<%= device.sn %>"
                  enctype="multipart/form-data"
                  id="validForm"
                >
                  <input type="hidden" id="dateTimeInput" name="dateTime" />
                  <input type="hidden" id="locationInput" name="location" />
                  <input
                    type="file"
                    accept="image/*"
                    id="imageInput"
                    name="deviceImage"
                    style="display: none"
                    onchange="handleImageSelect(event)"
                  />
                  <textarea
                    class="form-control rounded-3"
                    rows="4"
                    placeholder="Masukkan catatan di sini"
                    name="notes"
                  ></textarea>
                  <div class="row">
                    <button
                      type="button"
                      class="btn btn-secondary btn-lg rounded-pill mt-3"
                      onclick="openImagePicker()"
                    >
                      <i class="bi bi-camera me-1"></i>
                      Ambil Foto
                    </button>
                    <div class="col"></div>
                    <button
                      id="saveBtn"
                      type="button"
                      class="btn btn-1 btn-lg rounded-pill mt-3"
                      onclick="submitForm()"
                      style="display: none"
                    >
                      Save
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Bottom Navbar (Mobile Only) -->
    <nav class="bottom-navbar d-md-none">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <a href="/" class="navbar-link">
              <i class="bi bi-house-door"></i>
              <span>Home</span>
            </a>
          </div>

          <div class="col text-center">
            <a href="/list?focusSearch=true" class="navbar-link active">
              <i class="bi bi-search"></i>
              <span>Validasi</span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script>
      const validForm = document.getElementById("validForm");

      function openImagePicker() {
        var imageInput = document.getElementById("imageInput");
        imageInput.click();
      }

      async function handleImageSelect(event) {
        var selectedImage = event.target.files[0];
        if (selectedImage) {
          var deviceImage = document.getElementById("deviceImage");
          deviceImage.src = URL.createObjectURL(selectedImage);

          const dateTime = updateDateTime();
          const location = await updateLocation();

          document.getElementById("dateTimeInput").value = dateTime;
          document.getElementById("locationInput").value = location;
          document.getElementById("saveBtn").style.display = "block";
        }
      }

      function submitForm() {
        validForm.submit();
      }

      function updateDateTime() {
        var currentDateTime = new Date();

        const monthNames = [
          "Januari",
          "Februari",
          "Maret",
          "April",
          "Mei",
          "Juni",
          "Juli",
          "Agustus",
          "September",
          "Oktober",
          "November",
          "Desember",
        ];

        var day = currentDateTime.getDate();
        var month = currentDateTime.getMonth() + 1;
        var monthIndex = currentDateTime.getMonth();
        var year = currentDateTime.getFullYear();
        var currentTime = currentDateTime.toLocaleTimeString();

        var formattedDatetime =
          day + " " + monthNames[monthIndex] + " " + year + ", " + currentTime;

        var dateTimeElement = document.getElementById("dateTime");

        dateTimeElement.innerHTML = formattedDatetime;

        return formattedDatetime;
      }

      function updateLocation() {
        if ("geolocation" in navigator) {
          return new Promise((resolve, reject) => {
            navigator.geolocation.getCurrentPosition(
              function (position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                fetch(`/location?lat=${latitude}&lon=${longitude}`)
                  .then((response) => response.json())
                  .then((data) => {
                    var address = data.display_name;
                    var locationElement = document.getElementById("location");
                    locationElement.innerHTML =
                      "Lokasi Pengambilan Foto: " + address;
                    resolve(address);
                  })
                  .catch((error) => {
                    console.error("Error fetching location:", error);
                    reject(error);
                  });
              },
              function (error) {
                console.error("Error getting location:", error.message);
                reject(error);
              }
            );
          });
        } else {
          console.error("Geolocation is not available");
          return Promise.reject("Geolocation is not available");
        }
      }

      updateDateTime();
      updateLocation();

      setInterval(updateDateTime, 1000);
    </script>
  </body>
</html>
