<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplikasi Validasi</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-dark align-items-start fixed-top"
    >
      <div class="container">
        <!-- Offcanvas trigger -->
        <button
          class="btn"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasExample"
        >
          <span
            class="navbar-toggler-icon"
            data-bs-target="#offcanvasScrolling"
          ></span>
        </button>
        <!-- Offcanvas trigger end -->
        <a class="navbar-brand me-auto" href="/">Aplikasi Validasi</a>
        <a class="btn btn-light" href="/logout">
          <i class="bi bi-box-arrow-right"></i>
          <span class="d-none d-sm-inline">Logout</span>
        </a>
      </div>
    </nav>

    <!-- Offcanvas -->

    <div
      class="offcanvas offcanvas-start show position-fixed top-0 end-0"
      data-bs-scroll="true"
      data-bs-backdrop="false"
      tabindex="-1"
      id="offcanvasScrolling"
      aria-labelledby="offcanvasScrollingLabel"
      style="margin-top: 56px; width: 250px; z-index: 1050"
    >
      <div class="offcanvas-body">
        <div class="container p-3">
          <ul class="navbar-nav">
            <li>
              <a href="/dashboard" class="nav-link active">
                <i class="bi bi-laptop me-3"></i>Devices</a
              >
            </li>
            <li>
              <a href="/dashboard/add" class="nav-link">
                <i class="bi bi-plus-circle-fill me-3"></i>Add Device</a
              >
            </li>
            <li>
              <a href="/dashboard/settings" class="nav-link">
                <i class="bi bi-gear me-3"></i>Settings
              </a>
            </li>
            <li>
              <a href="/register" class="nav-link">
                <i class="bi bi-person-add me-3"></i>Add User
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Offcanvas end -->

    <!--  -->
    <div class="admin-content admin-mt p-3">
      <!-- alert -->
      <% if (successMessage) { %>
      <div class="alert alert-success">Settings berhasil terupdate</div>
      <% } %>
      <h2>Pengaturan Tanggal Kadaluwarsa Perangkat</h2>
      <p>
        Perangkat akan tidak valid otomatis dalam <%=
        settings[0].device_expiration_days %> hari
      </p>

      <form action="/update-admin-settings" method="post">
        <label for="deviceExpirationDays"
          >Update Hari Kadaluwarsa Perangkat:</label
        >
        <div class="input-group">
          <input
            type="number"
            id="deviceExpirationDays"
            name="deviceExpirationDays"
            class="form-control"
            min="1"
            required
          />
          <span class="input-group-text">hari</span>
        </div>
        <p>
          Masukkan jumlah hari untuk menentukan kapan perangkat akan kadaluwarsa
          setelah validasi terakhir.
        </p>
        <button class="btn btn-1 rounded-pill" type="submit">
          Simpan Pengaturan
        </button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
      new DataTable("#deviceTable", {
        scrollX: true,
      });
    </script>
  </body>
</html>
